$main-color: #10cab7
$co-color: #2c4755
*
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    font-family: "Work Sans", sans-serif
    background-color: #eee
    width: 100vw
    overflow-x: hidden
    margin: 0
    .container
        padding: 0 15px
        margin: 0 auto

// small//

@media (min-width: 768px)
    .container
        width: 750px

// medium

@media (min-width: 992px)
    .container
        width: 950px

//large

@media (min-width: 1200px)
    .container
        width: 1170px

// multi usage components
.component-header
    color: #d0d2d4
    font-size: 6rem
    font-weight: 800
    letter-spacing: -3px
    text-align: center
    margin: 0
    + p
        margin: -30px 0 0
        font-size: 1.15rem
        text-align: center
        color: #797979

@media (max-width:767px)
    body
        overflow-x: hidden
    .component-header
        font-size: 4.2rem
        + p
            margin-top: -20px

// header styling

.header
    padding: 20px
    .container
        display: flex
        justify-content: space-between
        align-items: center
        // overflow-x: hidden
        .logo
            width: 30px
            height: 30px
        #links
            position: relative
            ul
                list-style: none
                min-width: 200px
                position: absolute
                background-color: #f6f6f6
                margin: 0px
                padding: 0px
                display: none
                right: 0px
                transition: .4s
                top: calc( 100% + 15px )
                z-index: 1
                &::before
                    content: ''
                    border: 10px solid
                    border-color: transparent transparent #f6f6f6 transparent
                    position: absolute
                    top: -20px
                    right: 1px
                li
                    background-color: #f6f6f6
                    &:not(:last-child) a
                        border-bottom: 1px solid #eee

                a
                    display: block
                    padding: 15px
                    text-decoration: none
                    color: #333
                    transition: .3s
                    &:hover
                        padding-left: 25px
                        color: $main-color

// hero styling
.hero
    background-image: url(../images/hero-bg.jpg)
    background-size: cover
    height: calc( 100vh - 64px )
    position: relative
    .intro-text
        position: absolute
        text-align: center
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 500px
        h1
            margin: 0
            font-weight: bold
            font-size: 2.7rem
            color: $main-color
        p
            font-size: 1.2em
            line-height: 1.8

// features section

.features
    padding: 60px 0
    background-color: #f6f6f6
    .container
        display: grid
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr))
        grid-gap: 20px
        .feat
            padding: 20px
            text-align: center
            i
                color: $main-color
            h3
                font-weight: 800
                margin: 30px 0
            p
                line-height: 1.8
                color: #777

// services styling
.services
    padding: 60px 0
    .services-content
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr))
        grid-gap: 30px
        margin-top: 100px
        .srv
            display: flex
            margin-bottom: 40px
            i
                color: $main-color
                flex-basis: 60px
            .text
                flex: 1
                h3
                    margin: 0 0 20px
                p
                    color: #777
                    font-weight: 300
                    line-height: 1.6
        .img-container
            text-align: center
            position: relative
            &::before
                content: ''
                background-color: $co-color
                width: 100px
                height: calc(100% + 100px)
                top: -50px
                position: absolute
                right: 0
                border-radius: 0 20px 20px 0
                z-index: -1
            img
                width: 260px

@media (max-width:767px)
    .services
        .srv
            flex-direction: column
            text-align: center

@media (max-width:1199px)
    .img-container
        display: none

// Portfolio section

.portfolio
    padding: 60px 0
    background-color: #f6f6f6
    .ortfolio-content
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr))
        grid-gap: 30px
        margin-top: 80px
        .card
            background-color: #fff
            img
                max-width: 100%
            .info
                padding: 20px
                h3
                    margin: 0
                p
                    color: #777
                    line-height: 1.6
                    margin-bottom: 0

// About section
.about
    padding: 60px 0 120px 0
    background: #e2e0e0
    .container
        .about-content
            margin-top: 100px
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            .image
                position: relative
                width: 275px
                height: 184px
                &::before
                    content: ''
                    position: absolute
                    background-color: #d0d2d4
                    width: 90px
                    height: calc(100% + 80px)
                    top: -40px
                    left: -20px
                    z-index: -1
                &::after
                    content: ''
                    position: absolute
                    width: 100px
                    height: 140px
                    border-left: 70px solid $main-color
                    border-bottom: 60px solid $main-color
                    z-index: -1
                    right: -130px
                    top: -40px
                img
                    max-width: 100%
            .text
                flex-basis: calc( 100% - 500px )
                p:first-of-type
                    font-weight: bold
                    line-height: 2
                    margin-bottom: 50px
                hr
                    width: 50%
                    display: inline-block
                    border-color: $main-color
                p:last-of-type
                    line-height: 2
                    color: #777

@media (max-width: 991px)
    .about-content
        flex-direction: column
        text-align: center
        .image
            margin: 0 auto 60px

// Contact section 

.contact
    padding: 60px 0
    background-color: #f6f6f6
    .contact-info
        padding: 60px 0
        text-align: center
        .label
            font-size: 40px
            font-weight: 800
            color: $co-color
            letter-spacing: -2px
            margin-bottom: 15px
        .link
            text-decoration: none
            display: block
            font-size: 35px
            font-weight: 300
            color: $main-color
        .social
            display: flex
            justify-content: center
            margin-top: 20px
            font-size: 18px
            i
                margin-left: 10px
                color: $co-color
@media (max-width:767px)
    .contact
        .contact-info
            .label,.link
                font-size: 25px

.footer
    background-color: $co-color
    color: #fff
    padding: 30px 10px
    text-align: center
    font-size: 18px
    span
        font-weight: bold
        color: $main-color
