$main-color: #10cab7
*
    box-sizing: border-box

body
    font-family: "Work Sans", sans-serif
    background-color: #eee
    width: 100vw
    overflow-x: hidden
    margin: 0
    .container
        padding: 0 15px
        margin: 0 auto

// small

@media (min-width: 768px)
    .container
        width: 750px

// medium

@media (min-width: 992px)
    .container
        width: 950px

//large

@media (min-width: 1200px)
    .container
        width: 1170px

// multi usage components
.component-header
    color: #d0d2d4
    font-size: 6rem
    font-weight: 800
    letter-spacing: -3px
    text-align: center
    margin: 0
    + p
        margin: -30px 0 0
        font-size: 1.15rem
        text-align: center
        color: #797979

@media (max-width:767px)
    body
        overflow-x: hidden
    .component-header
        font-size: 4.2rem
        + p
            margin-top: -20px

// header styling

.header
    padding: 20px
    .container
        display: flex
        justify-content: space-between
        align-items: center
        // overflow-x: hidden
        .logo
            width: 30px
            height: 30px
        #links
            position: relative
            ul
                list-style: none
                min-width: 200px
                position: absolute
                background-color: #f6f6f6
                margin: 0px
                padding: 0px
                display: none
                right: 0px
                transition: .4s
                top: calc( 100% + 15px )
                z-index: 1
                &::before
                    content: ''
                    border: 10px solid
                    border-color: transparent transparent #f6f6f6 transparent
                    position: absolute
                    top: -20px
                    right: 1px
                li
                    background-color: #f6f6f6
                    &:not(:last-child) a
                        border-bottom: 1px solid #eee

                a
                    display: block
                    padding: 15px
                    text-decoration: none
                    color: #333
                    transition: .3s
                    &:hover
                        padding-left: 25px
                        color: $main-color

// hero styling
.hero
    background-image: url(../images/hero-bg.jpg)
    background-size: cover
    height: calc( 100vh - 64px )
    position: relative
    .intro-text
        position: absolute
        text-align: center
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 350px
        max-width: 100%
        h1
            margin: 0
            font-weight: bold
            font-size: 2.7rem
            color: $main-color
        p
            font-size: 1.2em
            line-height: 1.8

// features section

.features
    padding: 60px 0
    background-color: #f6f6f6
    .container
        display: grid
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr))
        grid-gap: 20px
        .feat
            padding: 20px
            text-align: center
            i
                color: $main-color
            h3
                font-weight: 800
                margin: 30px 0
            p
                line-height: 1.8
                color: #777

// services styling
.services
    padding: 60px 0
